<a href="https://colab.research.google.com/github/Tmmfaris/TestGibTm/blob/main/Session_10_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**PRACTICE EXERCISES ON PYTHON BASICS**

In [ ]:
# Q 1

Radius = int(input("Enter the radius: "))
pi = 3.14159265359
Area = pi*(Radius**2)
print("Area of Circle is",Area)

Enter the radius: 3
Area of Circle is 28.27433388231

In [ ]:
# Q 2

Name = input("Enter the name: ")
Roll_No = input("Enter the roll number: ")
Mark = input("Enter the mark: ")

print("Name:", Name)
print("Roll No:", Roll_No)
print("Mark:", Mark)

Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Name: Anisha
Roll No: 21
Mark: 78

In [ ]:
# Q 3

Numbers = [12, 3, 47, 10]
largest = max(Numbers)
print(largest,"is the largest number")

47 is the largest number

In [ ]:
# Q 4

previous_number = 0
current_number = 1
for current_number in range(1, 11):
  result = current_number + previous_number
  print(f"Current Number {current_number}, Previous Number {previous_number}, Sum: {result}")
  previous_number = current_number

Current Number 1, Previous Number 0, Sum: 1
Current Number 2, Previous Number 1, Sum: 3
Current Number 3, Previous Number 2, Sum: 5
Current Number 4, Previous Number 3, Sum: 7
Current Number 5, Previous Number 4, Sum: 9
Current Number 6, Previous Number 5, Sum: 11
Current Number 7, Previous Number 6, Sum: 13
Current Number 8, Previous Number 7, Sum: 15
Current Number 9, Previous Number 8, Sum: 17
Current Number 10, Previous Number 9, Sum: 19

In [ ]:
# Q 5

numbers = [10, 20, 33, 46, 55]
for num in numbers:
  if num % 5 == 0:
    print(num, end=",")

10,20,55,

In [ ]:
# Q 6

num = int(input("Enter the number: "))

if num == 1:
  print(num, "is not a prime number")
elif num == 2:
  print(num, "is a prime number")
elif num % 2 == 0:
  print(num, "is not a prime number")
else:
  print(num, "is a prime number")

Enter the number: 3
3 is a prime number

In [ ]:
# Q 7

numbers = [10, 40, 30, 70]
print(numbers[::-1])

[70, 30, 40, 10]

In [ ]:
# Q 8

for i in range(1, 5):
  print("*" * i)

*
**
***
****

In [ ]:
# Q 9

list = [34,12,7]
maximum = max(list)
print(maximum)

34

In [ ]:
# Q 10

for i in range(1,6):
  for j in range(i):
    print("*", end="")
  print()
for i in range(4,0,-1):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****
*****
****
***
**
*

#**Practice Problems â€“ Python Basics**

In [ ]:
# Q 1

num = input("Enter an integer: ")
total = 0
for digit in num:
  total += int(digit)
print("Sum of digits:", total)

Enter an integer: 99
Sum of digits: 18

In [ ]:
# Q 2

def factorial(n):
  fact = 1
  for i in range(1, n + 1):
    fact *= i
  return fact
num = int(input("Enter a number: "))
print("Factorial is", factorial(num))

Enter a number: 4
Factorial is 24

In [ ]:
# Q 3

word = input("Enter a word: ")
if word == word[::-1]:
  print("It is a palindrome")
else:
  print("It is not a palindrome")

Enter a word: malayalam
It is a palindrome

In [ ]:
# Q 4

sentence = input("Enter a sentence: ")
vowels = "aeiou"
vowel_count = 0
consonant_count = 0
for char in sentence:
  if char in vowels:
    vowel_count += 1
  else:
    consonant_count += 1
print("Number of vowels:", vowel_count)
print("Number of consonants:", consonant_count)

Enter a sentence: Data Science
Number of vowels: 5
Number of consonants: 7

In [ ]:
# Q 5

list1 = input("Enter the first list: ").split(",")
list2 = input("Enter the second list: ").split(",")
common_elements = []
for item in list1:
  if item in list2:
    common_elements.append(item)
print("Common elements:", common_elements)

Enter the first list: 1,2,3,4,5
Enter the second list: 4,5,6,7
Common elements: ['4', '5']

In [ ]:
# Q 6

string = input("Enter a string: ")
frequency = {}
for char in string:
  if char in frequency:
    frequency[char] += 1
  else:
    frequency[char] = 1
print("Frequency of each character:",frequency)

Enter a string: hello
Frequency of each character: {'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
# Q 7

year = int(input("Enter a year: "))
if year % 4 == 0:
  print("Leap year")
else:
  print("Not a leap year")

Enter a year: 2025
Not a leap year

In [ ]:
# Q 8

num = int(input("Enter the number: "))

if num == 1:
  print(num, "is not a prime number")
elif num == 2:
  print(num, "is a prime number")
elif num % 2 == 0:
  print(num, "is not a prime number")
else:
  print(num, "is a prime number")

Enter the number: 55
55 is a prime number

In [ ]:
# Q 9

n = int(input("Enter number of terms: "))
a, b = 0, 1
for i in range(n):
  print(a, end=" ")
  a, b = b, a + b

Enter the number: 555
555 is a prime number

In [ ]:
# Q 10

a = float(input("Enter a: "))
b = float(input("Enter b: "))
c = float(input("Enter c: "))
d = b**2 - 4*a*c
if d > 0:
  root1 = (-b + d**0.5) / (2*a)
  root2 = (-b - d**0.5) / (2*a)
  print("Two Real Roots:", root1, "and", root2)
elif d == 0:
  root = -b / (2*a)
  print("One Real Root:", root)
else:
  real = -b / (2*a)
  imag = (-d)**0.5 / (2*a)
  print("Complex Roots:")
  print(real, "+", imag, "i")
  print(real, "-", imag, "i")

Enter a: 1
Enter b: 2
Enter c: 5
Complex Roots:
-1.0 + 2.0 i
-1.0 - 2.0 i

#**PRACTICE EXERCISES ON PYTHON BASICS-2**

In [ ]:
# Q 1

string = input("Enter a string: ")
frequency = {}
for char in string:
  if char in frequency:
    frequency[char] += 1
  else:
    frequency[char] = 1
print("Frequency of each character:",frequency)

Enter a string: assembly
Frequency of each character: {'a': 1, 's': 2, 'e': 1, 'm': 1, 'b': 1, 'l': 1, 'y': 1}

In [ ]:
# Q 2

Numbers = [34,12,7]
largest = max(Numbers)
print(largest)

34

In [ ]:
# Q 3

def exponent(base, exp):
  return base ** exp
base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))
print(exponent(base, exp))

Enter the base: 2
Enter the exponent: 3
8

In [ ]:
# Q 4

def sum_of_cubes(n):
  total = 0
  for i in range(1, n):
    total += i**3
  return total
num = int(input("Enter a positive number: "))
print(sum_of_cubes(num))

Enter a positive number: 4
36

In [ ]:
# Q 5

for i in range(1, 11):
  if i % 2 == 0:
    if i % 5 == 0:
      print("FizzBuzz")
    else:
      print("Fizz")
  elif i % 5 == 0:
    print("Buzz")
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [ ]:
# Q 6

numbers = [2, 3, 4, 2, 5, 2]
most_frequent = max(numbers, key = numbers.count)
print(most_frequent)

2

In [ ]:
# Q 7

numbers = [2, 1, 3, 1]
sum_of_squares = 0
for n in numbers:
  sum_of_squares += n**2
print(sum_of_squares)

15

In [ ]:
# Q 8

for i in range(1, 16):
  if i % 2 == 0:
    print(i, "- even")
  else:
    print(i, "- odd")

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

In [ ]:
# Q 9

f = float(input("Enter temperature in Fahrenheit: "))
c = (f - 32) * 5 / 9
print("Temperature in Celsius =", c)

Enter temperature in Fahrenheit: 41
Temperature in Celsius = 5.0

In [ ]:
# Q 10

def factorial(n):
  result = 1
  for i in range(1, n + 1):
    result *= i
  return result
num = int(input("Enter a non-negative integer: "))
print(factorial(num))

Enter a non-negative integer: 3
6